#myCanvas {
    width: 800px;
    height: 800px;
    border:5px solid rosybrown;
    margin: 50px;
    background-color: white;
}

#tt {
    color: brown;
    text-align: center;
    font-size: x-large;
    background-color: coral;
    margin-bottom: 0px;
    margin-top: 0px;
}

.flex-container {
    display: flex;
    /*background-color:burlywood;*/
    background-image: url(./img/backgrond.jpg);
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
  }

  .flex-container > div {
    background-color: skyblue;
    border:5px solid chocolate;
    height: 800px;
    width: 270px;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
  }

.btn1{
    width: 50px;
    height: 50px;
    padding: 5px;
    background: mintcream;
    /*background-color: gold;*/
    transition-duration: 0.4s;
}
.btn1:hover{
  background-color: lightblue;
}

.col_s {
  height: 30px;
  width: 30px;
  stroke:white;
  stroke-width:3;
}

.col_s:hover {
  stroke:lightblue;
  stroke-width:5;
  /*cursor: default;*/
}

.p_icon {
   width: 30px;
   height: 30px; 
}
.s_icon {
  width: 20px;
  height: 20px; 
  margin: 0px;
}

.icon_r {
    margin: 50px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px;
  }

.slider:hover {
    opacity: 1;
  }
  

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }


  #c_col {
      visibility: hidden;
  }

  #upload {
    visibility: hidden;
  }


    
